body .whole-container {
	width: 100%;
	position: relative;
}

body .container {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

body .primary-col-text {
	color: #3251bf;
}

body .inner-container {
	opacity: 0.1;
	overflow: hidden;
	padding: 0px 20px 250px 20px;
}

body .inner-container .content-container {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body .inner-container .content-container .main-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body
	.inner-container
	.content-container
	.main-content
	.text-container
	.heading-container
	.heading {
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 48px;
}

body
	.inner-container
	.content-container
	.main-content
	.text-container
	.info-container {
	margin-top: 20px;
}

body
	.inner-container
	.content-container
	.main-content
	.text-container
	.info-container
	.info {
	font-size: 16px;
	line-height: 24px;
}

body
	.inner-container
	.content-container
	.main-content
	.text-container
	.info-container
	button {
	font-family: "Gilroy-Bold", sans-serif;
	margin-top: 20px;
	padding: 15px 30px;
	color: white;
	background-color: #3251bf;
	cursor: pointer;
	outline: none;
	border: none;
}

body
	.inner-container
	.content-container
	.main-content
	.image-container
	img {
	max-height: 450px;
	max-width: 420px;
}

@media screen and (max-width: 930px) {
	body .inner-container .content-container {
		position: relative;
	}
	body
		.inner-container
		.content-container
		.main-content
		.text-container
		.heading-container
		.heading {
		font-size: 40px;
	}
	body .inner-container .content-container .image-container {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		z-index: -1;
	}
	body .inner-container .content-container .image-container img {
		opacity: 0.3;
	}
}

body .first-container {
	position: relative;
	padding: 20px;
	height: 100vh;
	opacity: 1;
	-webkit-animation: fade-in 2500ms ease-in-out;
	animation: fade-in 2500ms ease-in-out;
}

body .first-container a {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 450px) {
	body .first-container {
		min-height: 100vh;
		min-height: 100svh;
	}
}

body .first-container .content-container {
	height: calc(100% - 55px);
}

body .first-container .navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body .first-container .navbar .logo img {
	width: 90px;
}

body .first-container .navbar .links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body .first-container .navbar .links a {
	text-decoration: none;
}

body .first-container .navbar .links .other-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 40px;
	margin-right: 30px;
}

body .first-container .navbar .links .other-links a {
	color: black;
	text-decoration: none;
}

body .first-container .navbar .links .social-links img {
	margin-right: 30px;
	height: 20px;
	width: 20px;
}

@media screen and (max-width: 800px) {
	body .first-container .navbar .logo img {
		width: 100px;
	}
	body .first-container .navbar .links .other-links a {
		font-size: 14px;
	}
	body .first-container .navbar .links .social-links img {
		margin-right: 20px;
	}
}

@media screen and (max-width: 800px) and (max-width: 650px) {
	body .first-container .navbar .links .social-links img {
		margin-right: 10px;
	}
	body .first-container .navbar .links .other-links {
		gap: 10px;
	}
	body .first-container .navbar .links .other-links a {
		margin-right: 0;
		font-size: 14px;
	}
}

@media screen and (max-width: 800px) and (max-width: 650px) and (max-width: 550px) {
	body .first-container .navbar .links {
		display: none;
	}
}

body .first-container .show-more {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

body .first-container .show-more p {
	font-size: 18px;
	cursor: pointer;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	font-weight: bolder;
}

body .second-container {
	padding-top: 50px;
}

body .third-container .heading {
	text-align: right;
}

body .fourth-container .main-content {
	height: 100%;
}

body .fourth-container .title-container {
	width: 100%;
}

body .fourth-container .title-container h1 {
	font-family: "Gilroy-Bold", sans-serif;
}

body .fourth-container .mobile-screen-container {
	display: none;
	padding: 50px 20px;
}

body .fourth-container .mobile-screen-container button {
	width: 200px;
	padding: 10px;
	background-color: #3251bf;
	color: white;
	outline: none;
	border: none;
}

@media screen and (max-width: 730px) {
	body .fourth-container .mobile-screen-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 30px;
	}
	body .fourth-container .popup-container {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: scroll;
		display: none;
		z-index: 10;
	}
	body .fourth-container .popup-container .popup-button-container {
		display: block;
		width: 100%;
		padding: 20px 30px;
	}
	body .fourth-container .popup-container #popup-close-btn {
		display: block;
		padding: 10px;
		background-color: #3251bf;
		color: white;
		outline: none;
		border: none;
		width: 100%;
	}
	body .fourth-container .popup-container .timeline {
		padding: 20px;
	}
}

body .fourth-container .popup-button-container {
	display: none;
}

body .fourth-container .timeline {
	margin: 0px auto;
	padding: 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 40px;
}

body .fourth-container .timeline .timeline-title {
	margin-left: 30px;
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 40px;
}

body .fourth-container .outer {
	padding: 10px;
}

body .fourth-container .card {
	position: relative;
	padding-left: 40px;
	padding-bottom: 20px;
	color: black;
	margin: 0;
}

body .fourth-container .card:last-child {
	padding-bottom: 0;
}

body .fourth-container .card:last-child::after {
	display: none;
}

body .fourth-container .info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 5px;
}

body .fourth-container .info p {
	font-size: 16px;
	line-height: 20px;
}

body .fourth-container .title {
	position: relative;
	font-size: 24px;
	font-family: "Gilroy-Bold", sans-serif;
}

body .fourth-container .title::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background: #3251bf;
	border-radius: 999px;
	left: -48.5px;
	top: 5px;
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
}

body .fourth-container .card::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -3px;
	width: 5px;
	height: 0;
	background-color: #3251bf;
	-webkit-transition: height 0.4s linear 0.5s;
	transition: height 0.4s linear 0.5s;
}

body .fourth-container .card:nth-child(2)::after {
	-webkit-transition-delay: 0.9s;
	transition-delay: 0.9s;
}

body .fourth-container .card:nth-child(3)::after {
	-webkit-transition-delay: 1.3s;
	transition-delay: 1.3s;
}

body .fourth-container .card.show::after {
	height: 100%;
}

@media screen and (max-width: 880px) {
	body .fourth-container .card {
		padding-bottom: 20px;
	}
}

body .fifth-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

body .fifth-container .fifth-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 50px;
}

body .fifth-container .text-container h1 {
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 64px;
}

@media screen and (max-width: 600px) {
	body .fifth-container .text-container h1 {
		font-size: 40px;
	}
}

body .fifth-container .image-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
}

body .fifth-container .image-container div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 50px;
}

body .fifth-container .image-container img {
	height: 100px;
}

@media screen and (max-width: 600px) {
	body .fifth-container .image-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

body .sixth-container {
	padding: 0px;
}

body .sixth-container .content-container {
	height: 100%;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

body .sixth-container .content-container .main-content {
	margin-bottom: 20px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-self: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body
	.sixth-container
	.content-container
	.main-content
	.text-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body
	.sixth-container
	.content-container
	.main-content
	.text-container
	p {
	font-family: "Gilroy-Bold", sans-serif;
	margin: 10px 0;
	font-size: 20px;
}

body
	.sixth-container
	.content-container
	.main-content
	.text-container
	.whole-links-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	margin-top: 30px;
}

@media screen and (max-width: 540px) {
	body
		.sixth-container
		.content-container
		.main-content
		.text-container
		.whole-links-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 20px;
		margin-top: 15px;
	}
}

body
	.sixth-container
	.content-container
	.main-content
	.text-container
	.whole-links-container
	.links-container {
	padding: 30px;
	background-color: white;
	border-radius: 10px;
	min-width: 210px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

body
	.sixth-container
	.content-container
	.main-content
	.text-container
	.whole-links-container
	.links-container
	img {
	height: 45px;
}

body
	.sixth-container
	.content-container
	.main-content
	.text-container
	.last-social-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

body
	.sixth-container
	.content-container
	.main-content
	.text-container
	.last-social-links
	a {
	text-decoration: none;
}

body
	.sixth-container
	.content-container
	.main-content
	.text-container
	.last-social-links
	img {
	height: 25px;
	width: 25px;
	margin: 0 15px 0 10px;
}

body .sixth-container .footer-container {
	margin-top: 60px;
	width: 100%;
	background-color: #3251bf;
	opacity: 1;
}

body .sixth-container .footer-container .footer-content {
	max-width: 1000px;
	margin: auto;
	color: white;
	padding-top: 40px;
}

body
	.sixth-container
	.footer-container
	.footer-content
	.footer-social {
	margin-top: 20px;
}

body
	.sixth-container
	.footer-container
	.footer-content
	.footer-social
	img {
	height: 24px;
	width: 24px;
	margin-right: 15px;
}

body .sixth-container .footer-container .footer-content .footer-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 50px;
	padding: 20px;
}

@media screen and (max-width: 540px) {
	body
		.sixth-container
		.footer-container
		.footer-content
		.footer-text {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

body
	.sixth-container
	.footer-container
	.footer-content
	.footer-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-bottom: 20px;
	gap: 60px;
}

body
	.sixth-container
	.footer-container
	.footer-content
	.footer-links
	h4 {
	margin-bottom: 20px;
	color: #e8e8e8;
}

body
	.sixth-container
	.footer-container
	.footer-content
	.footer-links
	a {
	display: block;
	margin-bottom: 10px;
}

body
	.sixth-container
	.footer-container
	.footer-content
	.text-container {
	margin-top: 10px;
	padding: 30px 0;
	border-top: 1px solid white;
	text-align: center;
}

body .sixth-container .footer-container .footer-content img {
	width: 120px;
}

body .sixth-container .footer-container .footer-content a {
	color: white;
}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fade-out {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 0;
	}
}

@keyframes fade-out {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 0;
	}
}
