body header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
	width: 100%;
	max-width: 1400px;
	margin: auto;
}

body header .logo img {
	width: 90px;
}

body header nav {
	margin-left: 20px;
}

body header nav button {
	color: black;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	padding: 8px 25px;
	cursor: pointer;
	font-family: "Gilroy-SemiBold", sans-serif;
}

body footer {
	margin-top: 60px;
	width: 100%;
	background-color: #3251bf;
	opacity: 1;
}

body footer .footer-content {
	max-width: 1400px;
	margin: auto;
	color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px 20px;
}

@media screen and (max-width: 700px) {
	body footer .footer-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		gap: 15px;
	}
}

body footer .footer-content img {
	width: 80px;
}

body footer .footer-content a {
	color: white;
}

@media screen and (min-width: 950px) {
	body footer .footer-content .text-container {
		margin-left: 175px;
	}
}

body footer .footer-social img {
	height: 24px;
	width: 24px;
	margin-right: 15px;
}

body .primary-btn {
	font-family: "Gilroy-Bold", sans-serif;
	padding: 15px 30px;
	color: white;
	background-color: #3251bf;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 4px;
}

body .content-container {
	width: 100%;
	max-width: 1400px;
	margin: auto;
	padding: 20px;
	display: none;
}

body .content-container.active-page {
	display: block;
}

body .center-net-status {
	margin: 20px 0 40px;
}

body .center-net-status .center-circle {
	margin: auto;
	width: 140px;
	height: 140px;
	background-color: white;
	border-radius: 800px;
	font-size: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 8px solid #3251bf;
}

body .center-net-status .center-circle p {
	font-weight: 900;
	font-size: 13px;
	margin-top: 15px;
}

body .center-net-status .center-circle .net-value {
	font-size: 24px;
	margin-top: 15px;
}

body .balance-status .balance-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 900px;
	margin: auto;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: center;
	gap: 10px;
}

body .balance-status .balance-container p {
	font-size: 14px;
}

body .balance-status .balance-container .balance {
	font-size: 25px;
	margin-top: 10px;
	font-weight: 900;
	font-family: "Gilroy-SemiBold";
}

body .balance-status .balance-line {
	margin-top: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1200px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body .balance-status .balance-line p {
	line-height: 0;
	min-width: 150px;
}

body .balance-status .balance-line .line {
	width: 100%;
	height: 6px;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(20%, #3251bf),
		color-stop(9%, rgba(131, 139, 197, 0.5))
	);
	background: linear-gradient(
		90deg,
		#3251bf 20%,
		rgba(131, 139, 197, 0.5) 9%
	);
}

body .dashboard-container .markets-status {
	margin-top: 40px;
}

body .dashboard-container .markets-status .markets-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
}

@media screen and (max-width: 950px) {
	body .dashboard-container .markets-status .markets-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

body .dashboard-container .markets-status .markets {
	background-color: white;
	min-height: 700px;
	width: 100%;
	border-radius: 15px;
	padding: 20px;
}

body .dashboard-container .markets-status .markets .table-title {
	font-size: 20px;
	font-family: "Gilroy-Bold", sans-serif;
	font-weight: 100 !important;
	padding-left: 10px;
	padding-bottom: 15px;
	border-bottom: 2px solid lightgray;
}

body .dashboard-container .markets-status .markets .market-table {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 10px;
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px;
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	.row.header {
	font-family: "Gilroy-Bold", sans-serif;
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	.cell {
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	margin-right: 10px;
	text-align: center;
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	.asset-cell {
	-ms-flex-preferred-size: 60%;
	flex-basis: 60%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 5px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	.available {
	-ms-flex-preferred-size: 40%;
	flex-basis: 40%;
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	#collateral-btn {
	border-radius: 80px;
	width: 40px;
	height: 10px;
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
	cursor: pointer;
	position: relative;
	background-color: rgba(131, 139, 197, 0.5);
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	#collateral-btn
	.button {
	background-color: #3251bf;
	margin-top: -3px;
	height: 15px;
	width: 15px;
	border-radius: 80px;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	#collateral-btn
	.button.on {
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	.table-data
	.table-data-row {
	cursor: pointer;
	margin-bottom: 5px;
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	.table-data
	.table-data-row
	img {
	height: 30px;
	width: 30px;
}

body
	.dashboard-container
	.markets-status
	.markets
	.market-table
	.table-data
	.table-data-row:hover {
	background-color: rgba(211, 211, 211, 0.6);
	border-radius: 7px;
}

body .status-container .markets-inner-container {
	width: 100%;
	max-width: 1100px;
	margin: auto;
}

body .status-container .markets-inner-container h2 {
	font-size: 40px;
	font-family: "Gilroy-SemiBold", sans-serif;
	font-weight: 100;
}

body .status-container .markets-inner-container .search-container {
	width: 100%;
}

body
	.status-container
	.markets-inner-container
	.search-container
	.search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	margin-top: 15px;
}

body
	.status-container
	.markets-inner-container
	.search-container
	.search
	input {
	width: 100%;
	border-radius: 10px;
	outline: none;
	border: 4px solid #3251bf;
	background-color: transparent;
	font-size: 16px;
	padding: 0 20px;
	color: black;
	font-family: "Gilroy-Regular";
	-webkit-transition: background 1200ms linear;
	transition: background 1200ms linear;
}

body
	.status-container
	.markets-inner-container
	.search-container
	.search
	input:focus {
	background-color: white;
}

body
	.status-container
	.markets-inner-container
	.search-container
	.search
	button {
	padding: 20px 40px;
	border-radius: 10px;
}

body
	.status-container
	.markets-inner-container
	.global-stats-container {
	margin-top: 50px;
}

body
	.status-container
	.markets-inner-container
	.global-stats-container
	.stats-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin: auto;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-align: center;
	gap: 10px;
	margin-top: 30px;
}

body
	.status-container
	.markets-inner-container
	.global-stats-container
	.stats-container
	p {
	font-size: 16px;
}

body
	.status-container
	.markets-inner-container
	.global-stats-container
	.stats-container
	.balance {
	font-size: 25px;
	margin-top: 10px;
	font-weight: 900;
	font-family: "Gilroy-SemiBold";
}

body
	.status-container
	.markets-inner-container
	.market-info-container {
	width: 100%;
	background-color: white;
	border-radius: 10px;
	padding: 0px 40px 30px 40px;
	margin-top: 40px;
	height: 100%;
	min-height: 750px;
}

body
	.status-container
	.markets-inner-container
	.market-info-container
	.asset-title {
	font-size: 16px;
	margin-bottom: 30px;
	font-family: "Gilroy-Thin", sans-serif;
}

body
	.status-container
	.markets-inner-container
	.market-info-container
	.asset-data {
	font-size: 24px;
	font-family: "Gilroy-SemiBold", sans-serif;
}

body
	.status-container
	.markets-inner-container
	.market-info-container
	.market-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 60px;
	border-bottom: 1px solid black;
}

body
	.status-container
	.markets-inner-container
	.market-info-container
	.market-info
	.asset-title-container {
	width: 20%;
	min-width: 120px;
}

body
	.status-container
	.markets-inner-container
	.market-info-container
	.market-info
	.asset-title-container
	#asset-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 16px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body
	.status-container
	.markets-inner-container
	.market-info-container
	.market-info
	.asset-title-container
	#asset-name
	img {
	height: 30px;
	margin-right: 10px;
}

body
	.status-container
	.markets-inner-container
	.market-info-container
	.market-info
	.asset-all-info {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

body
	.status-container
	.markets-inner-container
	.market-info-container
	.market-info
	.asset-all-info
	.asset-info-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	gap: 10px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

body
	.status-container
	.markets-inner-container
	.market-info-container
	.market-info
	.asset-all-info
	.asset-info-flex:last-child {
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	margin-top: 40px;
}

body .liquidations-container {
	padding: 40px;
}

body .liquidations-container .liquidation-header {
	font-size: 32px;
	font-family: "Gilroy-SemiBold", sans-serif;
	padding-left: 30px;
}

body .liquidations-container .liquidations-info-container {
	background-color: white;
	min-height: 600px;
	width: 100%;
	border-radius: 5px;
	margin-top: 30px;
	padding: 60px 30px;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	.img-container {
	height: 70px;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	.img-container
	img {
	height: 70px;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	.input-whole-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	border: 4px solid #3251bf;
	border-radius: 10px;
	height: 70px;
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(rgba(131, 139, 197, 0.2)),
		color-stop(rgba(131, 139, 197, 0.4)),
		color-stop(rgba(131, 139, 197, 0.4)),
		to(rgba(131, 139, 197, 0.2))
	);
	background: linear-gradient(
		to right,
		rgba(131, 139, 197, 0.2),
		rgba(131, 139, 197, 0.4),
		rgba(131, 139, 197, 0.4),
		rgba(131, 139, 197, 0.2)
	);
	font-size: 12px;
	font-family: "Gilroy-Bold", sans-serif;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	.input-whole-container
	input {
	outline: none;
	border: none;
	min-width: 100px;
	width: 80%;
	font-family: "Gilroy-SemiBold", sans-serif;
	padding-left: 10px;
	background-color: transparent;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	.input-whole-container
	input::-webkit-input-placeholder {
	color: black;
	opacity: 1;
	font-family: "Gilroy-Regular", sans-serif;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	.input-whole-container
	input:-ms-input-placeholder {
	color: black;
	opacity: 1;
	font-family: "Gilroy-Regular", sans-serif;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	.input-whole-container
	input::-ms-input-placeholder {
	color: black;
	opacity: 1;
	font-family: "Gilroy-Regular", sans-serif;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	.input-whole-container
	input::placeholder {
	color: black;
	opacity: 1;
	font-family: "Gilroy-Regular", sans-serif;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	.input-whole-container
	input::-ms-input-placeholder {
	color: black;
	font-family: "Gilroy-Regular", sans-serif;
}

body
	.liquidations-container
	.liquidations-info-container
	.liquidation-info
	button {
	border-radius: 10px;
	height: 70px;
}

body .popup-container {
	position: fixed;
	inset: 0;
	background-color: rgba(50, 81, 191, 0.2);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
	-webkit-animation: fadeOut 1s;
	animation: fadeOut 1s;
}

body .popup-container .close-button {
	-webkit-transform: translate(-170px, 50px);
	transform: translate(-170px, 50px);
	z-index: 100;
	outline: none;
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

body .popup-container .close-button img {
	height: 20px;
	width: 20px;
}

body .popup-container.popup-active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-animation: fadeIn 1000ms;
	animation: fadeIn 1000ms;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body .popup-container .loading-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 20px;
}

body .popup-container .loading-container .loader {
	border: 8px solid #f3f3f3;
	border-top: 8px solid #3251bf;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

body .popup-container .popup-wallet-container,
body .popup-container .popup-markets-container,
body .popup-container .popup-transaction-container,
body .popup-container .popup-search-container {
	position: relative;
	width: 100%;
	max-width: 400px;
	background-color: white;
	border-radius: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	display: none;
}

body .popup-container .popup-wallet-container.show,
body .popup-container .popup-markets-container.show,
body .popup-container .popup-transaction-container.show,
body .popup-container .popup-search-container.show {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

body .popup-container .popup-markets-container .asset-info {
	text-align: center;
}

body .popup-container .popup-markets-container .asset-info img {
	height: 30px;
	width: 30px;
}

body .popup-container .popup-markets-container .asset-info h4 {
	font-weight: 100;
	font-family: "Gilroy-Bold", sans-serif;
}

body
	.popup-container
	.popup-markets-container
	.supply-active
	.available {
	display: none;
}

body
	.popup-container
	.popup-markets-container
	.supply-active
	#supply-option {
	border-bottom: 3px solid #3251bf;
}

body
	.popup-container
	.popup-markets-container
	.supply-active
	.withdraw-buttons {
	display: none;
}

body
	.popup-container
	.popup-markets-container
	.withdraw-active
	.usage {
	display: none;
}

body
	.popup-container
	.popup-markets-container
	.withdraw-active
	#withdraw-option {
	border-bottom: 3px solid #3251bf;
}

body
	.popup-container
	.popup-markets-container
	.withdraw-active
	.supply-buttons {
	display: none !important;
}

body
	.popup-container
	.popup-markets-container
	.borrow-active
	#borrow-option {
	border-bottom: 3px solid #3251bf;
}

body
	.popup-container
	.popup-markets-container
	.borrow-active
	.repay-buttons {
	display: none !important;
}

body
	.popup-container
	.popup-markets-container
	.repay-active
	#repay-option {
	border-bottom: 3px solid #3251bf;
}

body
	.popup-container
	.popup-markets-container
	.repay-active
	.borrow-buttons {
	display: none;
}

body .popup-container .popup-markets-container .popup-options {
	width: 100%;
	display: none;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.options-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 5px;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.options-buttons
	button {
	color: #3251bf;
	background-color: transparent;
	padding: 15px;
	width: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	margin-bottom: 20px;
	margin-top: 20px;
	border-bottom: 3px solid transparent;
	font-weight: 900;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.options-buttons
	button:hover {
	border-bottom: 3px solid #3251bf;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.popup-info-container {
	width: 100%;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.popup-info-container
	.info-dashboard-section {
	width: 100%;
	position: relative;
	background-color: rgba(211, 211, 211, 0.6);
	padding: 10px;
	border-radius: 10px;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.popup-info-container
	.info-dashboard-section
	h2 {
	position: absolute;
	inset: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-weight: 100;
	font-size: 30px;
	font-family: "Gilroy-SemiBold", sans-serif;
	z-index: 1;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin: auto;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.popup-info-container
	.info-dashboard-section
	.max {
	z-index: 10;
	margin-bottom: 5px;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.popup-info-container
	.info-dashboard-section
	.max
	button {
	background-color: #3251bf;
	color: white;
	padding: 3px 5px;
	border-radius: 3px;
	outline: none;
	border: none;
	cursor: pointer;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.popup-info-container
	.info-dashboard-section
	p {
	font-size: 12px;
	text-align: right;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.popup-info-container
	.all-info {
	margin: 30px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 15px;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.popup-info-container
	.all-info
	.info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.buttons-container {
	width: 100%;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.buttons-container
	.supply-buttons,
body
	.popup-container
	.popup-markets-container
	.popup-options
	.buttons-container
	.repay-buttons,
body
	.popup-container
	.popup-markets-container
	.popup-options
	.buttons-container
	.risk-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
}

body
	.popup-container
	.popup-markets-container
	.popup-options
	.buttons-container
	button {
	width: 100%;
}

body
	.popup-container
	.popup-markets-container
	.borrow-popup
	.popup-info-container
	.info-dashboard-section {
	padding: 20px 10px;
}

body .popup-container .popup-markets-container .active {
	display: block;
}

body
	.popup-container
	.popup-markets-container
	.risk-popup
	.risk-circle {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: auto;
	height: 150px;
	width: 150px;
	border-radius: 600px;
	border-right: 8px solid lightgray;
	border-bottom: 8px solid red;
	border-left: 8px solid red;
	border-top: 8px solid red;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 40px;
	margin-top: 40px;
}

body
	.popup-container
	.popup-markets-container
	.risk-popup
	.risk-circle
	p {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

body
	.popup-container
	.popup-markets-container
	.risk-popup
	.risk-text {
	margin: 40px 0;
	font-weight: 100;
	line-height: 20px;
}

body
	.popup-container
	.popup-markets-container
	.risk-popup
	.risk-text
	a {
	font-family: "Gilroy-SemiBold", sans-serif;
	font-weight: 100;
}

body .popup-container .popup-wallet-container h3 {
	font-size: 25px;
	margin-bottom: 40px;
	font-family: "Gilroy-Bold", sans-serif;
}

body .popup-container .popup-wallet-container .wallets-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}

body
	.popup-container
	.popup-wallet-container
	.wallets-container
	button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	padding: 30px 0;
	font-size: 18px;
	font-family: "Gilroy-Regular", sans-serif;
	border-bottom: 1px solid lightgray;
}

body
	.popup-container
	.popup-wallet-container
	.wallets-container
	button:hover {
	background-color: rgba(211, 211, 211, 0.5);
}

body
	.popup-container
	.popup-wallet-container
	.wallets-container
	button:nth-child(3) {
	border: none;
}

body
	.popup-container
	.popup-wallet-container
	.wallets-container
	button
	img {
	height: 25px;
	width: auto;
}

body .popup-container .popup-transaction-container {
	padding: 100px 0;
}

body
	.popup-container
	.popup-transaction-container
	.completed-container {
	text-align: center;
}

body
	.popup-container
	.popup-transaction-container
	.completed-container
	p {
	margin-bottom: 20px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

body .popup-container .popup-search-container .search-containers {
	display: none;
	padding: 40px 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	margin: 0;
	width: 100%;
}

body
	.popup-container
	.popup-search-container
	.search-containers.current {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

body .popup-container .popup-search-container .loading-container {
	margin: 100px 0;
}

body .popup-container .popup-search-container .loading-container p {
	margin-top: 20px;
}

body .popup-container .popup-search-container .search-info {
	width: 100%;
}

body
	.popup-container
	.popup-search-container
	.search-info
	.balance-status
	.balance-line {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

body
	.popup-container
	.popup-search-container
	.search-info
	.balance-status
	.balance-line
	p {
	min-width: -webkit-max-content;
	min-width: -moz-max-content;
	min-width: max-content;
	margin-bottom: 30px;
}

body
	.popup-container
	.popup-search-container
	#search-fail-container
	.icon {
	margin: 30px auto;
	font-size: 30px;
	border: 6px solid red;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

body
	.popup-container
	.popup-search-container
	#search-fail-container
	p {
	line-height: 22px;
	margin-top: 20px;
	text-align: left;
	margin-bottom: 30px;
}
